:root {
    --primary-color:#603A40;
    --secondary-color:#84596B;
    --auxilliary-color:#AF9BB6;
    --padding-horizontal:100px;
    --font-family: "Poppins", sans-serif;
}
.cat{
    width: 400px;
    position: relative;
    height: 400px;
    overflow: hidden;
    margin-top: 4rem;
    border-radius: 1000px;
    
}


.hide-mobile{
    display: none;
    margin: auto;
}
body {
    background-color: var(--primary-color);
}
.wrap {
    margin: 2em;
}
header{
    display: flex;
    justify-content: space-between;
}
nav ul{
    background: var(--auxilliary-color);
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    list-style-type: none;
    width: 30%;
    text-align: right;
    padding: 2em;
    font-family: var(--font-family);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}
.open {
    transform: translateX(0%);
}
h1{
    text-align: center;
    font-family: var(--font-family);
}
p{
    font-family: var(--font-family);
    font-size: 1.5rem;
}
a.primary-cta {
    background:var(--auxilliary-color);
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
    font-family: var(--font-family);
    text-decoration: none;
    font-weight:bold ;
    font-size: 1.3rem;
    color: black;
    border-radius: .3rem;


    
    }
@media (min-width: 750px) {

    .wrap {
        margin: 0 4em;
    }
    .hide-desktop{
        display: none;
    }
    .hide-mobile{
        display: block;
    }
    .header-left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    .divider{
        height: 50px;
        width: 1px;
        border-right: 1px solid var(--secondary-color);

        }
        a{
            text-decoration: none;
            font-size: 1.2em;
            font-family: var(--font-family);
            color: var(--secondary-color);
        }
    }
    nav ul {
        position: unset;
        background: none;
        display: flex;
        gap: 2em;
        height: auto;
        width: auto;
        transform: translateX(0%);

    }
    }
    
    